
/* -------MASTER------- */

body {
    font-size: 1em;
    font-family: "Play", sans-serif;
    color: white;
    background-color: black;
}

/* -------HEADER------- */

.headerSpot {
    color: white;
    font-size: 2em;
    font-weight: 400;
    text-align: left;
    margin: 0.5em 0em 0em 1em;

    display: none;  
}

/* -------INPUT: GENERAL------- */

.mainInput{
    float: left;
    width: 30%;
}

.windowInput{
    padding: 1em;
    background-color: black;
    height: 100vh;
}

.titleInput{
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin: 0em 0em 2em 0em;
    color: white;

}

/* -------INPUT: ITEMS------- */

.mainDishItem, .sideDishItem, .mealTypeItem, .mealDrinkItem, .mealCalItem, .dateMonthItem, .dateDayItem, .dateYearItem {
    display: block;
    height: 15%;
    font-weight: 700;
}

.mainDishInput, .sideDishInput, .mealTypeInput, .mealDrinkInput, .mealCalInput, .dateMonthInput, .dateDayInput, .dateYearInput {
    float: right;
    display: inline-block;
    background-color: black;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 0.05em;
    outline: none;
}

.dateMonthItem, .dateDayItem, .dateYearItem {
    display: inline;
}


.dateMonthInput, .dateDayInput, .dateYearInput {
    margin: 0em 0em 0em 1em;
}

/* -------ADD BUTTON------- */

.addButtonItem {
    text-align: center;
    margin: 2em 0em 0em 0em
}

.addButtonInput {
    width: 100%;
    padding: 1em;
    color: white;
    background-color: black;
    border-color: white;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    outline: none;
}

.addButtonInput:hover{
    color: black;
    background-color: white;
    transition:.25s ease-in;
}


/* -------OUTPUT: GENERAL------- */

.mainOutput{
    float: right;
    width: 70%;
    margin: 0em 0em 0em 0em;
}

.windowOutput{
    background-color: white;
    padding: 1em;
    overflow: auto;
    height: 100vh;
}

.titleOutput{
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin: 0em 0em 2em 0em;
    color: black;
}

/* -------OUTPUT: ITEMS------- */

.listItemOutput li {
    line-height: 2em;
    border-bottom: 0.05em;
    border-bottom-color: #282828;
    border-bottom-style: solid;
    margin: 0em 0em 1em 0em;
}

/* -------FOOTER------- */