
/* -------MASTER------- */

body {
    font-size: 1em;
    font-family: "Work Sans", sans-serif;
    color: white;
    background-color: black;
    border-style: solid;
    border-color: white;
}

/* -------HEADER------- */

.headerSpot {
    color: white;
    font-size: 2em;
    font-weight: 500;
    text-align: left;
    margin: 0.5em 0em 0em 1em;
}

/* -------INPUT: GENERAL------- */

.mainInput{
    float: left;
    width: 45%;
    margin: 2em 0em 0em 2em;
}

.windowInput{
    border: 0.05em;
    border-style: solid;
    border-color: #282828;
    background-color: #0f0f0f;
}

.titleInput{
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin: 0em 0em 0.5em 0em;
}

/* -------INPUT: ITEMS------- */

.mainDishItem, .sideDishItem, .mealTypeItem, .mealDrinkItem, .mealCalItem, .dateMonthItem, .dateDayItem, .dateYearItem {
   display: block;
   margin: 1em;
   font-weight: 500;
}

.mainDishInput, .sideDishInput, .mealTypeInput, .mealDrinkInput, .mealCalInput, .dateMonthInput, .dateDayInput, .dateYearInput {
    float: right;
    display: inline-flex;
    background-color: #0c0c0c;
    color: white;
    border-color: #282828;
    border-style: solid;
    border-width: 0.05em;
    outline: none;
}

/* -------ADD BUTTON------- */

.addButtonItem {
    margin: 1em;
    text-align: center;
}

.addButtonInput {
    width: 100%;
    padding: 1em;
    color: white;
    background-color: #007aff;
    border-color: #60acff;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    outline: none;
}

/* -------OUTPUT: GENERAL------- */

.mainOutput{
    float: right;
    width: 45%;
    margin: 2em 2em 0em 0em;
}

.windowOutput{
    border: 0.05em;
    border-style: solid;
    border-color: #282828;
    background-color: #0f0f0f;
    padding: 1em;
}

.titleOutput{
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin: 0em 0em 0.5em 0em;
}

/* -------OUTPUT: ITEMS------- */

.listItemOutput li {
    line-height: 2em;
    border-bottom: 0.05em;
    border-bottom-color: #282828;
    border-bottom-style: solid;
    margin: 0em 0em 1em 0em;
}

/* -------FOOTER------- */